[2014-11-14 16:40] CameronBanga opened #1 "ReadMe could use a bit more clarification"
Hey there,

I'm definitely a CLI novice, but have been using slack for a while, and I can't figure out how to integrate this into our team's site.

For "token", should this be an OAuth Slack API App? Or a webhook integration? It asks for integration token, so I assume a web hook integration? But I can't find tokens for web hooks. So I created an API app, but I don't see a token there either. Looks

[2014-11-14 17:55] #1 closed, assigned to Chikashi-Kato

[2015-01-07 16:34] billkeller opened #8 "emoji outputs :: around icon when --icon command line option is used"
Great script, thanks for this!

Removing the :: from line 105 (icon=":$1:") fixes this.

https://github.com/course-hero/slacktee/blob/master/slacktee.sh#L105

[2015-01-07 19:39] Chikashi-Kato commented on #8
Thank you for finding this bug. I just fixed it.
I'm glad to hear that you like this script :)

[2015-01-07 19:39] #8 closed

[2015-01-16 11:51] samskiter opened #9 "Tag people/channels"
Would it be possible to slack a message that uses e.g `@channel` or `@<username>` to notify people of things?

[2015-01-16 11:57] samskiter opened #10 "Tag people/channels"
Would it be possible to slack a message that uses e.g `@all` or `@<username>` to notify people of things?

edit: nevermind, just found this: https://api.slack.com/docs/formatting

[2015-01-16 11:58] #10 closed

[2015-01-19 19:50] Chikashi-Kato commented on #9
Now slacktee can notify people who is mentioned using `@` in the message.
To enable the notification, please use `link_names` or `full` mode of the message formatting option (`-m` | `--message-formatting`)!

[2015-01-19 19:50] #9 closed

[2015-09-02 10:24] fedordikarev opened #14 "Allow send messages to user, not only to channel"
Hi!
It's possible to send message to user by using "@username" as channel parameter.
For now, it's hardcoded to add # sign to channel name.
Below my patch that will add # sign only if channel name doesn't start with it nor with @ sign. So it's possible to send messages with "-c @username" option.
[code]

[2015-09-03 08:50] Chikashi-Kato commented on #14
Thank you for the great improvement idea! I didn't know we can send direct message with @username.
I will implement the function based on your patch and publish it as soon as possible.

[2015-09-03 23:11] Chikashi-Kato commented on #14
I just published v1.2.1 which support direct messaging using '@username' channel notation.
Thank you for letting me know your great idea!!

[2015-09-03 23:11] #14 closed

[2015-11-05 21:19] treducks opened #21 "Allow slacktee to do /commands"
Hi

Currently using slacktee to send notifications to administrators via various scripts but I would also like the ability to use /remind to setup reminders as well. Currently trying the following:

echo "/remind @user to do something in 10 minutes" | slacktee.sh -u @otheruser -p -m link_names

but it just prints that and /remind isn't invoked. Am I missing something? Is this even possible?

Thank

[2015-11-06 08:02] Chikashi-Kato commented on #21
Hi treducks, thank you for using slacktee!
I tried to invoke slash commands through slacktee, but I couldn't find the way to make it work.
I'm assuming slash commands are not invoked in the messages posted through API. (I also tested [postMesage API](https://api.slack.com/methods/chat.postMessage), but it didn't work too).

I will try to research it more. If I find anything useful, I will let you

[2015-11-06 21:47] Chikashi-Kato commented on #21
Unfortunately, slash commands are currently supported by only Slack applications, and we cannot invoke it through API. Please check [the reply from Slack](https://twitter.com/SlackAPI/status/662736738092126208).
Once it's supported by API, I will definitely add the function to slacktee.

[2015-11-06 21:47] #21 closed

[2015-11-06 21:55] treducks commented on #21
Yeah, I saw the conversation on Twitter. Bummer but I'll live. Thanks for looking into it.

[2015-11-06 23:31] Chikashi-Kato commented on #21
No problem! Thank you for using Slacktee!
Please let me know if you have any enhancement ideas in future :)

[2015-11-23 16:28] scarolan opened #23 "Everything is posted as a quote..."
How do you get images to expand in the slack channel?  It's not as fun when you just see a url.

[2015-11-24 00:56] Chikashi-Kato commented on #23
Could you try to use '-p' option?
Looks line Slack doesn't expand images in triple backticks.

This worked for me.
[code]

[2015-12-01 00:20] Chikashi-Kato commented on #23
Hi @scarolan, does '-p' work for you?

[2016-01-04 21:19] Chikashi-Kato opened #24 "Error happens when input is empty with -f option"
If nothing is passed to slacktee with -f option, an error happens in the cleanup process of the temp file.

Example)
```rm: /tmp/2381-01042016-131201.log: No such file or directory```

Also, a meaning less message is posted to Slack as following:
[code]

If input is empty, slacktee shouldn't do anything like buffering/non-buffering mode.

[2016-01-04 21:21] Chikashi-Kato commented on #23
Since I didn't get reply from you for a while, I will close this issue.
Please feel free to let me know anytime, if '-p' option doesn't work for you.

[2016-01-04 21:21] #23 closed

[2016-01-06 01:34] Chikashi-Kato commented on #24
Fixed this issue in v1.2.5

[2016-01-06 01:34] #24 closed

[2016-04-05 06:04] MxLinux opened #26 "cat /dev/random | slacktee.sh"
Makes the script very unhappy.

[2016-04-05 16:58] Chikashi-Kato commented on #26
Thank you for bringing up this interesting issue.
I think this is tough to handle in `slacktee.sh` because `cat /dev/random` returns invalid characters too.
Since `slacktee.sh` is expecting that all of the input are valid strings (currently, it doesn't support binary data), it crushes `slacktee.sh`.
Since `-f` option stores all of the input to the file and uploads it to Slack, it may be able to ha

[2016-04-13 00:08] Chikashi-Kato commented on #26
I'm closing this issue as `won't fix`, but please feel free to let me know, if you think we should handle this issue somehow. I'm looking forward to hearing your suggestions!!

[2016-04-13 00:08] #26 closed

[2016-07-11 06:11] piyushmandovra opened #27 "slacktee.sh doesn't work with crontab because of $PATH issue..."
slacktee.sh by default doesn't work with crontab because /usr/local/bin is not included in crontab path, so manually i have to move into /bin directory, it would be great if you move in /bin or /usr/bin directory by default.
I took quite long to figure out these thing.

[2016-07-13 00:37] Chikashi-Kato commented on #27
I'm sorry for the late reply.
I got your point. You can change the target directly by specifying it as a parameter of `install.sh`, but doesn't it work for you? Here is the example: `bash ./slacktee/install.sh /usr/bin`

Please correct me if I'm wrong, but usually `/bin` is used for storing the commands which need to be available in single user mode, so I don't think it's a good idea to add it to

[2016-07-15 20:25] Chikashi-Kato commented on #27
I will close this, but please feel free to let me know if you have any other ideas :)

[2016-07-15 20:25] #27 closed

[2016-07-16 09:00] piyushmandovra commented on #27
I have only one idea to add, It will be good to add in readme that it won't work with crontab just because path issue, because I feel most people  gonna use it for scripting automation like me ;) and crontab is one of them, so adding in readme will be helpful.

[2016-07-18 17:26] Chikashi-Kato commented on #27
Thank you so much for the suggestion! I will update README to add the note :)

[2016-07-18 22:45] Chikashi-Kato commented on #27
Updated README!

[2016-07-21 21:53] hobakill opened #29 "Slacktee posts to `slackbot` and not my actual user"
So I've set up my  `.slacktee` file to post to me on slack:

`username="@myusername"`

However, when I do the simple `ls` example, slacktee sends it to `slackbot` instead. What am I missing?

![screen shot 2016-07-21 at 4 52 12 pm](https://cloud.githubusercontent.com/assets/4466324/17040119/9ea8ed1c-4f63-11e6-85a0-76327a356db4.png)

[2016-07-24 07:56] Chikashi-Kato commented on #29
Sorry for the late reply. I'm confirming the behavior and get back to you, but I think that is a correct behavior. Since the sender of the message is a bot, receiving the message from slackbot makes sense for me.
What is your expected behavior?

[2016-07-26 01:54] Chikashi-Kato commented on #29
Hi hobakill, I checked Slack's api and confirmed that is the expected behavior.
Since slacktee uses `Incoming Webhooks`, slacktee's message is sent to you as a message of `slackbot`.

https://api.slack.com/incoming-webhooks

I will close this issue, but please feel free to post your thoughts here :)
Thank you for using slacktee!

[2016-07-26 01:54] #29 closed

[2016-08-03 12:06] iknite opened #30 "Change slacktee.sh command to only slacktee when installing"
What do you think?
I'm used to change it as a difference between custom/local scripts to installed tools.

In any case that's a really useful script, :beers:

[2016-08-03 13:35] jimsmith commented on #30
Leave it 'as is' as it's a Bash script after all and the .sh identifies it as such for sysadmins, operations and TechOps/DevOps engineers.

[2016-08-04 01:08] Chikashi-Kato commented on #30
Hi knite and jimsmith,

First of all, thank you for using slacktee and sharing your thoughts about it!
I also would prefer to leave it as-is. As jimsmith mentioned, slacktee has good amount of users and it's already integrated with their systems. So, I would like to avoid an unnecessary confusion caused by changing the file name.

One idea is adding another command line option to `install.sh` whic

[2016-08-04 12:33] iknite commented on #30
It will be nice indeed, let me try to find a moment in this weekend to make a PR
Thanks again!

[2016-08-05 06:11] Chikashi-Kato commented on #30
Cool! Looking forward to seeing your PR :)

[2016-08-31 05:57] Chikashi-Kato opened #33 "Backslack was not processed correctly"
dgengtek found this issue in PR #32

since read doesn't read any backslashes without option -r anyway.
and tabs gets eaten

`$ echo 'a\\ttest' | bash slacktee.sh`
slacktee receives, `a\ttest`, outputs on slack is, `atest`

`$ echo 'a\\\\ttest' | bash slacktee.sh`
slacktee receives, `a\\ttest`, outputs on slack is, `a\ttest`

even though on line 180 `line="$(echo "$1" | sed $'s/\t/ /g')"`
should re

[2016-09-29 21:00] nicolouis opened #34 "Bug with tail -f"
Hello,

If i use slacktee.sh to send an "ls" or "echo" command to my slack channel it's working.

Nevertheless, when i try to send a "tail" like this :
`tail -f app/logs/prod.log | grep "INSERT INTO" | slacktee.sh -n`

I received this error, the grep is write into my prompt :
`invalid_payload`

Why ? do you have an idea ?

Thanks a lot for your help !

[2016-09-29 23:18] Chikashi-Kato commented on #34
Thank you for the bug report!

Could you provide me a sample of the input (`tail -f app/logs/prod.log | grep "INSERT INTO"`)?
I'm assuming some special characters which are not escaped properly by slacktee are included and it causes the issue.

[2016-09-30 07:26] nicolouis commented on #34
Hi,

Thanks for your quick response.
This is the sample :
`user@ip-192-30-59:~$ tailf app/logs/prod.log | grep "INSERT INTO"
[2016-09-30 09:18:45] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\NotNullConstraintViolationException: "An exception occurred while executing 'INSERT INTO user (username, username_canonical, email, email_canonical, enabled, salt, password, last_login, lo

[2016-10-01 23:34] Chikashi-Kato commented on #34
Thank you for the test data! I will use it for reproducing the issue and try to fix the issue.

[2016-10-12 06:06] Chikashi-Kato commented on #34
Thank you for waiting! I think I could fix the issue. As far as I tested, the latest version of slacktee can handle your test data properly. Your test data included many uncovered cases and it's very helpful for fixing this issue :) Thank you so much for sharing the great test data.
If you are still seeing the issue, please feel free to let me know!

[2016-10-12 06:10] Chikashi-Kato commented on #33
This issue was fixed in v1.2.11

[2016-10-12 06:10] #33 closed

[2016-10-14 05:41] #34 closed

[2017-02-26 18:54] mfabinski opened #35 "Fails silently if curl is not installed"
Hello everybody,

I testet this script on a new server install where no curl was installed. The script failed silently which made it hard to find the cause of no message appearing in slack. (I know: rtfm, you stated it uses curl on README)

Expected behaviour: check if curl command fails and output some kind of error message.

Otherwise it's a great project, with curl installed it works like a cha

[2017-02-26 21:20] Chikashi-Kato commented on #35
Hello mfabinski, thank you for the feedback!
I'm glad to hear slacktee is working for you :)

I like the idea to check if 'curl' command is installed or not.
I will implement the check at the beggining of the setup mode (`--setup`). Also, I will think the best way to fail gracefully while sending, and try to implement the logic.

[2017-03-01 09:58] cheesemarathon opened #36 "slacktee install as root"
Ive spent several days trying to get slacktee to work with the root crontab. I installed it as per the instructions in the readme. I also included all the path variables i could think of in the crontab, however it did not work. When i looked in slacktee.sh i noticed there was no webhook url set. So i set it in there and it worked. So it seems that sudo cron jobs cant read the config in my home dir

[2017-03-02 07:55] Chikashi-Kato commented on #36
Thank you for using slacktee, cheesemarathon!

If slacktee is executed by the root user, slacktee tries to read the configuration file `.slacktee` from the home directory of the root user, not from your user's home directory. So, please try to copy your `.slacktee` file to root user's home directory. You should be able to find the directory of the root user in `/etc/passwd`.

Also, you can use the

[2017-03-07 05:04] wayneworkman opened #37 "Issues on Debian 8"
Hello,

I used to use slacktee on CentOS 7, worked great. I'm having issues getting it to work on Debian. I'm fairly certain I've copy/pasted the webhook url and token into the prompts correctly as before, I've typed in the correct channel as before, but something like `echo "testing 123" | slacktee.sh` isn't working for me, and there are no errors displayed.

the slacktee.sh command is available,

[2017-03-07 05:32] wayneworkman commented on #37
Figured it out, had to install curl. Bare-minimum Debian 8 doesn't have curl installed.

[2017-03-07 05:32] #37 closed

[2017-03-07 16:42] siosphere commented on #35
Fixed by #38

[2017-03-08 09:06] Chikashi-Kato commented on #35
Merged #38!

[2017-03-08 09:06] #35 closed

[2017-03-08 09:10] Chikashi-Kato commented on #37
Sorry for the delayed reply, wayneworkman.
I'm glad you could find the root cause of the issue.
Your PR #38 was awesome! I'm pretty sure, it can avoid same issue in future! ;)

[2017-03-08 09:46] #36 closed

[2017-03-08 09:47] Chikashi-Kato commented on #36
I closed this issue, but please feel free to leave a commend if you have any questions!

[2017-03-14 23:36] Chikashi-Kato opened #40 "slacktee should continue to output the input to STDOUT even if Slack is down"
Currently, `slacktee` exits immediately with the error code if it fails to send a message to Slack or some other errors happen (e.g. webhook URL is not configured).
However, this was not ideal behavior as a tee-like-command because it blocks piped subsequent commands.

Here is the example:

`cat test.txt | slacktee -n | mail foo@bar.com`
If webhook URL is not configured, `slacktee` fails immediate

[2017-03-21 17:06] CoreyJ87 opened #41 "No way to add new line to string passed?"
I am probably just doing something wrong. But my string im sending to slack is one big string not multiple variables. So I'm trying to make new lines. \n does not work. How can make sure the new lines are parsed and not stripped?

[2017-03-21 18:03] Chikashi-Kato commented on #41
As long as the input value contains a proper new line character, slacktee should handle it.
Could you post your test data here?

[2017-03-21 21:06] CoreyJ87 commented on #41
So this is the string im sending:

slackString='\nOmbi' is running 'properly\nsonarr' is running 'properly\ncouchpo' is running 'properly\nglances' is running 'properly\nts3server' is running 'properly\nglances' is running properly

and here is how im sending it:
echo ${slackString} | slacktee.sh -p

here is what I get back
\nOmbi is running properly\nsonarr is running properly\ncouchpo is running

[2017-03-23 00:35] Chikashi-Kato commented on #41
Sorry for the delayed reply, CoreyJ87.
Could you try to add `-e` option to `echo` command?

`echo -e ${slackString} | slacktee.sh -p`

It works on `bash` environment.

[2017-03-23 07:26] CoreyJ87 commented on #41
No problem on the delay. This is just for a fun project anyways. Thanks a
bunch man. That was it. I knew it was something small I was missing.

On Wed, Mar 22, 2017 at 7:35 PM Chikashi Kato <notifications@github.com>
wrote:

[2017-03-23 20:31] Chikashi-Kato commented on #41
I'm glad the solution works for you!
Thank you for using Slacktee :)

[2017-03-23 20:31] #41 closed

[2017-04-09 05:59] #30 closed

[2017-06-20 12:26] ky4k0b opened #44 "Messages are not dispatched from rsyslog"
in rsyslog.conf I have the following

`:msg, contains, "NODFLT001" ^/root/slacktee-master/slacktee.sh`

when the event with NODFLT appears nothing is sent to slack

[2017-06-20 23:35] Chikashi-Kato commented on #44
Hi, thank you for using slacktee!
I'm not familiar with rsyslog but I'm assuming it is running as its own user on your system and slacktee couldn't find the configuration file correctly.
Could you try to copy your .slacktee from your home directory to /etc and rename it to slacktee.conf? If you don't like to use host-wide configuration file, please try to copy .slacktee to rsyslog user's home dire

[2017-07-17 20:57] Chikashi-Kato commented on #44
I'm closing this issue, but please feel free to let me know if you have any other questions!

[2017-07-17 20:57] #44 closed

[2017-07-19 10:15] ky4k0b commented on #44
Thanks! The trick worked.

[2017-07-27 17:37] Chikashi-Kato commented on #44
Awesome! I'm glad to hear that, ky4k0b! Thank you for the update.

[2017-08-30 18:17] ikstream opened #47 "Copyright/Applying License"
Hi,

I really like slacktee and would like to use parts of it for a project. Therefore I have to change something.
As the Apache Licenses states, I have to mark my changes in the copyright notice.
Unfortunately there is none.
There is a paragraph about applying the Apache license in its appendix, which states:

" APPENDIX: How to apply the Apache License to your work.

      To apply the Apache Li

[2017-08-31 06:00] Chikashi-Kato commented on #47
Hi ikstream, thank you for using slacktee.
I just added a copyright notice to `slacktee.sh`, but does it look good?

[2017-08-31 06:02] ikstream commented on #47
Looks good, thank you very much

[2017-08-31 06:02] #47 closed

[2017-11-03 14:21] ky4k0b commented on #9
Hi Chikashi-Kato,

I'm kinda confused but is it possible to make my app that using slacktee to send direct messages to someone in my team?

[2017-11-04 17:17] Chikashi-Kato commented on #9
Hi ky4k0b,

Sorry for the delayed reply!
Yes, if you want to send a message to a user instead of channel, you can simply specify the user’s userid with -c option (e.g. slacktee.sh -c @chuck).
It’s usage example is also written in README, so please check it too!

Hope this helps!

[2018-01-17 14:05] SurferL commented on #27
Just FYI to anyone who also hits this issue...

I initially installed Slacktee to `/usr/local/bin`, which also generated a `~/.slacktee`.

To get it working with crontab (as root), I had to install Slacktee to `/usr/bin`, and also move `~/.slacktee` to `/etc/slacktee.conf`

[2018-01-23 00:18] pacak opened #50 "deb/rpm/whatever package?"
A more standard way of distributing software in Linux OS is by using package manager - this allows to specify dependencies. There's at least two existing issues caused by the missing curl.

https://github.com/course-hero/slacktee/issues/35
https://github.com/course-hero/slacktee/issues/37

There is a workaround for this problem: https://github.com/course-hero/slacktee/pull/38/files but it will onl

[2018-01-23 06:22] Chikashi-Kato commented on #50
Hi pacak, thank you for your feedback. I agree that creating packages is great way to distribute slacktee.
Unfortunately, I am not familiar with the process to create the packages. I will try to learn it, but it would be great if you can create it and contribute it to slacktee community!

[2018-03-12 17:43] vaithak commented on #50
Is anyone working on this? If not then I would like to work on this issue.

[2018-03-13 05:17] Chikashi-Kato commented on #50
Not yet! It would be really great if you can help us!

[2018-03-13 06:11] vaithak commented on #50
Ok, I will start working on it.

[2018-03-14 05:40] Chikashi-Kato commented on #50
Cool! Thanks!!

[2018-03-17 13:11] vaithak commented on #50
Added the debian package. PR link: https://github.com/course-hero/slacktee/pull/51

[2018-03-17 17:42] Chikashi-Kato commented on #50
Thank you for the PR! Let me review it. I will get back to you as soon as possible!

[2018-03-20 19:38] Chikashi-Kato commented on #50
Found a RPM package created by Scott R. Shinn at Atomicorp.
https://centos.pkgs.org/7/atomic-x86_64/slacktee-1.2.11-1.el7.art.x86_64.rpm.html

I am closing this issue, but I will continue to add more packages.

[2018-03-20 19:38] #50 closed

[2018-03-28 17:14] Chikashi-Kato commented on #50
Scott R. Shinn at Atomicorp created a package for following distros!
- Centos 6/7
- RHEL 6/7
- Amazon Linux 1/2(LTS)
- Debian 8/9
- Ubuntu 14/16
Added the instruction to README

[2018-07-06 19:41] Hoten opened #53 "stream output"
Would be super great to have slacktee stream output to Slack. It could update the comment as output comes in.

[2018-07-10 02:55] Chikashi-Kato commented on #53
Hello Hoten!
Have you tried '-n' (--no-buffering) option? I think that is what you are looking for :)

[2018-07-10 03:09] Hoten commented on #53
Oh, I didn't know about that feature. But not quite. One use case I have is a command that outputs useful information in the beginning of the command, followed by about 20 minutes of work, and then prints out a summary. I would like to see the beginning output when it's ready, and have the last output edited into the same comment.

I'll look into adding this myself, I just wanted to create a task

[2018-07-14 21:31] Hoten commented on #53
[code]

![image](https://user-images.githubusercontent.com/4071474/42728594-8b772d1e-8772-11e8-8440-c081266ef32a.png)

The behavior I'd like is for the first comment to be updated with additional output. Think that's possible?

[2018-07-16 03:23] Chikashi-Kato commented on #53
Hi Connor, thank you for giving me an example!
Now I fully understand your requirement. Unfortunately, current slacktee doesn’t have a capability to do it.
Since slacktee is using the incoming webhook for interacting to Slack (except the file upload option), I am assuming updating the existing comment isn’t trivial.
I will research a little bit more but it would be nice you can try to find a way t

[2018-07-16 08:46] Chikashi-Kato commented on #53
The way which can be relatively easily implemented is sending a message with the next buffering but not only new line but also the lines previously input.
In your example, we will see ‘test’ and ‘more test’ as a message after the message ‘buffer’.
This way posts many redundant messages but we don’t have to implement the way updating the 1st comment.
What do you think?

[2018-07-17 04:56] Hoten commented on #53
Hi Chuck,

I want to avoid that easy way, as I think it would end up spamming the channel.

You're right that the webhook api is lacking for this. Luckily, utilizing the regular API was simple enough. I opened a PR adding the feature.

[2018-07-19 08:11] #53 closed

[2019-01-20 09:43] RobertJBarron opened #56 "Cannot override user/icon/channel"
Hello,

I think Slack has changed the way Incoming Webhooks work and they no longer allow customization of the message
https://api.slack.com/incoming-webhooks#advanced_message_formatting
```You *cannot* override the default channel (chosen by the user who installed your app), username, or icon when you're using Incoming Webhooks to post messages. Instead, these values will always inherit from the

[2019-01-21 11:38] Chikashi-Kato commented on #56
Ouch, this is a critical change for slacktee. Thank you for letting me know this, Robert.
I will test out the changes and update slacktee to address the changes.

[2019-01-21 13:38] RobertJBarron commented on #56
From what I can see, keeping that functionality will mean changing from `incoming_webhook` to one of the web APIs.
Let me know if I can help :)

[2019-01-22 20:05] Chikashi-Kato commented on #56
Thank you, Robert! I'm still testing on my end, but I still can specify 'channel', 'name' and 'icon' through webhook. Since the webhook I used for testing have created long time ago, Slack may be keeping the backward compatibility for old webhooks.
I will create a new webhook and use it for my 2nd test.

It would be great if you can check when you created your webhook

[2019-01-23 08:37] RobertJBarron commented on #56
Less than 24 hours before opening this issue.

[2019-01-23 19:00] Chikashi-Kato commented on #56
Got it, thanks! I think Incoming Webhook with the legacy 'Custom Integration' still supports the overwrite for 'channel', 'name' and 'icon' parameters, but migrating to Slack App is highly recommended.

https://api.slack.com/custom-integrations/incoming-webhooks

I think it might be a time to migrate to Slack App from the custom integration. Also, as you mentioned, we may be using Web API instead

[2019-02-08 10:09] DannyBen opened #57 "Error: here-document delimited by end-of-file (wanted `EOF')"
When running in a plain alpine container (with bash and curl installed), I was getting this error:

[code]

Removing the indentation of the closing `EOF` in this block fixes the problem:
https://github.com/coursehero/slacktee/blob/86522a9938409bb974aa353b89eb0c4ae8abc02d/slacktee.sh#L406-L415

[2019-02-08 16:53] J0WI opened #58 "Add negative color/prefix pattern condition"
It would be useful to have negative conditions. E.g. to consider all lines that do not start with "Success" as failure:
[code]

[2019-02-09 22:41] Chikashi-Kato commented on #57
Oh, nice catch! I have never seen that error before. If you don't mind, could you create a PR for fixing it?

[2019-02-09 23:07] Chikashi-Kato commented on #58
Hello, thank you for submitting the enhancement idea. I think it's useful for the case which uses complicated regex pattern. For the simple case (like your example), we can use negated character class.

[code]
I am not 100% sure if `^[^(Success)]` is a correct regex pattern, but it works like a charm as far as I hav e tested ;p

[2019-02-09 23:09] Chikashi-Kato commented on #56
Sorry for not posting an update for a while. I was busy in last 2 weeks and couldn't find a time to work on this issue. I am still trying to implement it by myself, but it would be really appreciated if anyone can submit a PR addressing this issue!

[2019-02-10 06:19] DannyBen commented on #57
Sure

[2019-02-10 16:37] Hoten commented on #58
Unfortunately that "negated" regex works by accident. Any character in brackets are interpreted directly, except for dashes for denoting ranges and an anchor to negate the character class, AFAIK. So group capturing does not work. [See this](https://regex101.com/r/a3D2m2/1).

A [negative lookaround](https://regex101.com/r/mduA7I/1) will work.

[code]

Anyways, a negate option would be useful! Thank

[2019-02-10 21:22] Chikashi-Kato commented on #58
Hi Connor, thank you for checking it! Yeah, I checked `^[^(Success)]` with multiple regex parser, but none of them worked like Bash's regex operator (`=~`) which slacktee is using.

I also tried to use negative lookaround, but it didn't work with Bash's regex operator. Seems like the implementation of Bash's regex operator is kinda unique ;p

I would love to have the negate option, but I am not su

[2019-02-10 21:31] #57 closed

[2019-02-10 21:32] Chikashi-Kato commented on #57
Merged your PR! Thank you for fixing this issue, Danny!

[2019-02-10 22:30] J0WI commented on #58
How about negating the condition, like `if ! [[ $line =~ ${cond_prefix_patterns[$i]} ]]`?

[2019-02-10 22:36] Chikashi-Kato commented on #58
Yeah, it makes sense :) We should flip the result of the evaluation if the negate option is specified :)

[2019-07-04 02:13] #56 closed

[2019-07-04 02:14] Chikashi-Kato commented on #56
Add the logic posting messages through APIs and deprecated incoming webhook.

[2019-09-10 09:36] boredland opened #62 "color doesn't stay"
I expected this
[code]
to be a message marked red. instead it changes its color back to grey. I my expectation wrong?

[2019-11-12 00:19] Chikashi-Kato commented on #62
So sorry for the delayed reply, @boredland . I will look into it and get back to you soon!

[2019-11-12 00:43] Chikashi-Kato commented on #62
I confirmed the behavior. I think it's a bug of `--streaming` option.
Expected behavior is keeping the color of the last output.

Thank you for reporting this issue, @boredland . I will work on this issue.

[2019-11-12 19:55] Chikashi-Kato commented on #62
This issue should be fixed :) Again, sorry for the delayed reply!

[2019-11-12 19:55] #62 closed

[2019-12-13 20:58] msmyers opened #64 "Unable to close with CTRL+C, when running directly"
While testing out the script (amazing work, btw), I typed `slacktee.sh` in my terminal.

It gave me a warning about "using the URL is deprecated, please use token" and then it hung, with CTRL+C not aborting. I was forced to restart my terminal session.

Thoughts?

[2019-12-15 09:25] Chikashi-Kato commented on #64
Thank you for trying slacktee and reporting the issue, @msmyers!
I will test it out and get back to you.

[2019-12-16 18:36] Chikashi-Kato commented on #64
I confirmed the behavior. `slacktee.sh` doesn't handle CTRL+C. I'm adding a signal handler to `slacktee.sh`.

BTW, we can still finish `slacktee.sh` by sending [End-of-Transmission](https://en.wikipedia.org/wiki/End-of-Transmission_character) with CTRL+D, but in this case, all of the input characters are sent to slack. Therefore, I believe support CTRL+C for abort sending message is useful.

[2019-12-16 22:28] Chikashi-Kato commented on #64
BTW "using the URL is deprecated, please use token" is just a deprecation warning introduced at `v1.4.0` and it's not related with this issue.
If you want to suppress it, please use `token` instead of `webhook`.

[2019-12-17 06:38] Chikashi-Kato commented on #64
@msmyers This has been fixed with v1.4.2. Thanks again for reporting this issue!

[2019-12-17 06:38] #64 closed

[2020-02-04 19:26] luckytaxi opened #66 "Interactive copies won't work for unattended installs"

[2020-02-10 01:33] connorjclark commented on #66
@luckytaxi Could you provide some more context? What commands are you running, and what is the output vs what you expect?

[2020-03-12 23:42] micruzz82 opened #67 "Using Webhook to run slacktee"
Hi Team

I don't have access to a token but was only provided a webhook.

Whenever I run slacktee.sh after installation, I get

slacktee.sh: Please setup the authentication token or the incoming webhook url (deprecated).

Can you please help me on how to configure the webhook url.

Thanks in advance.

[2020-03-13 00:14] micruzz82 commented on #67
found it in ~/.slacktee

[2020-03-13 00:14] #67 closed

[2020-03-13 01:18] micruzz82 opened #68 "Unable to create slacktee as a service"
Hi

This application is really useful and helps so much with a simple thing of posting a message to Slack.

I have an issue though. I am trying to run this bash script as a service.

/tmp/temp.sh
#!/bin/bash
tail -f /tmp/metrics.out | slacktee.sh -u 'snmptrap' -n

The service file is

cat /etc/systemd/system/slack-snmp.service
[Unit]
Description= Send SNMP traps received on telegraf to slack servi

[2020-03-13 01:28] connorjclark commented on #68
You're sure there is a slacktee.conf file?
[code]

[2020-03-13 10:36] micruzz82 commented on #68
Hi @connorjclark there is an option to specify --config with the script.. once I was able to do that it is now running as a service.. thanks for your help though. Should have read the docs more closely :)

[2020-03-13 10:36] #68 closed

[2020-03-13 22:49] Chikashi-Kato commented on #67
@micruzz82 Sorry for not responding in a timely manner. I'm glad you could find the option.
Since Slack is deprecating webhook, we have removed the configuration from the documentation.
Also, the latest version output the deprecation warning when you use webhook.
If you don't want to see deprecation warning every time, please try to use v1.3.1.

Thank you for using slacktee!

[2020-03-14 17:06] Chikashi-Kato commented on #68
@micruzz82
This is just for your information.
By default, slacktee tries to read .slacktee from the home directory of the user who executes slacktee. If your service user doesn’t have the home directory, slacktee doesn’t work.
As you did, you can specify the location of .slactee with “--config” option in this case.
Another way is using “/etc/slacktee.conf”, as Conor suggested. This file works same

[2020-03-17 03:06] micruzz82 commented on #68
@Chikashi-Kato thank you for the advice. So far really happy that everything works as expected! Great job on this and your team

[2020-06-01 14:50] TeTiRoss opened #69 "Add ability to skip interactive setup upon installation"
Please, add ability to skip interactive setup at the end of the installation.

[2020-08-30 04:34] marcelo321 opened #70 ""not in channel" error"
Hello,

I have a bot with channel-join, chat:write, and file:write.

I am already sending messages throw webhook, but when using slacktee I get this message:

`slacktee.sh: {"ok":false,"error":"not_in_channel"}`

The bot is already in the channel I want to post messages, and in the configuration I put that exact channel

[2020-08-30 04:55] Chikashi-Kato commented on #70
Hello,

Thank you for using slacktee :)

First of all, the latest version of slacktee is not using webhook, so even
though you can send messages through webhook, slacktee still can fail to
send messages.

If you don’t mind, could you share your configuration (.slacktee Or
slacktee.conf) and the command invoking slacktee (e.g. echo “test” |
slacktee.sh)?
This is helpful for reproducing the issue on

[2020-08-30 05:08] marcelo321 commented on #70
`nano .slacktee`

[code]

[2020-08-30 05:23] marcelo321 commented on #70
I don't know what thing I have wrong but can't figure it out, it appears to be right.

[2020-08-30 05:38] Chikashi-Kato commented on #70
Are you specifying any command line options of slacktee?

On Sat, Aug 29, 2020 at 10:23 PM marcelo321 <notifications@github.com>
wrote:

Sent from Gmail Mobile

[2020-08-30 05:43] marcelo321 commented on #70
no, but I tried `slacktee.sh -c ChannelName` & `slacktee.sh -c #ChannelName` and it also failed.

[2020-08-30 06:00] marcelo321 commented on #70
Ok I resolved it by adding a bot. It works that way, but with the custom app doesn't work for me sadly.

[2020-08-30 06:15] Chikashi-Kato commented on #70
Thank you for the information.

Hmm, your configuration seems good.
Could you try to give chat:wire.public to your bot user token?

https://api.slack.com/scopes/chat:write.public

On Sat, Aug 29, 2020 at 10:43 PM marcelo321 <notifications@github.com>
wrote:

Sent from Gmail Mobile

[2020-08-30 06:16] marcelo321 commented on #70
I will try tomorrow or other day. that's it for today, I just wanted to get that running and now going to sleep. Thanks for your help and I hope they don't remove the bot in any time soon.

[2020-08-30 06:16] #70 closed

[2020-08-30 07:57] Chikashi-Kato commented on #70
Cool. Please let us know how it goes :)
Looking forward to hearing update from you.

On Sat, Aug 29, 2020 at 11:17 PM marcelo321 <notifications@github.com>
wrote:

Sent from Gmail Mobile

[2020-09-05 00:40] Chikashi-Kato commented on #69
Sorry, I overlooked this request. Yeah, it should be easy by adding extra option to `install.sh`

[2020-09-05 02:21] Chikashi-Kato commented on #70
Hi marcelo321, I know you already closed this issue, but I confirmed `chat:wire.public` worked. I'm updating the README to add this finding. Thank you for your report!

BTW, I noticed one case I am still see the error `slacktee.sh: {"ok":false,"error":"not_in_channel"}`.
This happened with the Slack App that is not a member of the target channel but tries to upload a file to the channel. Unfortuna

[2020-10-16 16:46] Chikashi-Kato commented on #69
`-s`/`--skip-setup` option has been added to `install.sh` at `v1.5.0`

[2020-10-16 16:46] #69 closed

[2020-10-16 16:48] Chikashi-Kato commented on #66
I think @luckytaxi mentioned about the same thing as #69.
Since #69 has been closed, I'm closing this issue as well.

Please feel free to reopen, if I misunderstand this issue.

[2020-10-16 16:48] #66 closed

[2020-10-21 06:52] marcelo321 opened #74 "Different output by same bot?"
Hello,

I have a weird question. I have 2 vps and they print the output differently.

![imagen](https://user-images.githubusercontent.com/29487296/96683540-b16db300-1350-11eb-90f9-a1dff85b2c34.png)

As you can see, the first one has that line, and when reaching half the line, it goes to the second line, which is annoying as fuck.

my other bot prints it perfectly (last line of output).

In both of

[2020-10-21 19:18] marcelo321 commented on #74
I don't want the blockquote that the bot is adding to the message. it ruins the output as everything is compacted, but I don't know how to delete it

[2020-10-21 19:38] Chikashi-Kato commented on #74
Hi @marcelo321, thank you for using the slacktee.

For removing the line of the first bot's output, you need to disable `attachment`. Since you are not using `-a`/`--attachment` option, I'm assuming `attachment` variable in your `~/.slacktee` or `/etc/slacktee.conf` is NOT empty. Could you try to confirm it?
Here is the sample of `~/.slacktee`
[code]

In order to remove the blockquote, please use

[2020-10-22 01:21] marcelo321 commented on #74
Thanks! it worked. I didn't know the .slacktee was in home directory so I was a bit confused.

Thanks again!

[2020-10-22 01:21] #74 closed

[2021-04-08 06:29] marcelo321 opened #75 "invalid json when sending non-json text"
I am trying to send some text of a file like:

`cat file | slacktee`

But I am getting this error:

`slacktee.sh: {"ok":false,"error":"invalid_json"}`

The file is pure text and I can't show it because it has sensitive information, but even if it was json (which it isn't) why it is failing with this error?

[2021-04-08 06:59] Chikashi-Kato commented on #75
Hi marcelo321,

How did you set up the token? Did you setup a slack app for slacktee? Or using a bot user?
Also, could you check if `test/test.sh` can work?

[2021-04-08 07:26] marcelo321 commented on #75
Everything else works just fine. `echo abc | slacktee.sh` sends the message correctly.

Even if I try to send the line that just failed, it works: `echo "string whatever | slacktee.sh`

But it fails when I do `echo "${var}" | slacktee.sh`

[2021-04-08 07:35] marcelo321 commented on #75
Oh ok. `echo abc | slacktee.sh` works, but the test throw me 150 errors. This might be since I updated from a non-supported linux version to last version of ubuntu and everything is failing now haha:

[code]

[2021-04-08 16:33] Chikashi-Kato commented on #75
Ah sorry, the test needs to be executed in `test` directory. ;p

I'm glad to hear slacktee.sh worked with `echo`. So it sounds like there are some special characters in your file that slacktee cannot handle. Is it possible to scrub sensitive data from your file and share it with me?

[2021-04-08 17:01] marcelo321 commented on #75
so I am redirecting the output of a tool to a file `tool > file`.

If I do `cat file | slacktee.sh` it throws me `slacktee.sh: {"ok":false,"error":"invalid_json"}`.

If I do `cat file`, then manually copy the output of file to `file2`.

and then try `cat file2 | slacktee.sh` I get no errors..

If I do `cat file` it shows them without empty lines, but doing `nano file` shows the file as:

[code]

m

[2021-04-08 17:07] marcelo321 commented on #75
Ok so I edited it with vim this time, and apparently there was `^M` at the start of every line, removing that allowed me to send the message sucesfully? with nano I couldn't see that

[2021-04-08 23:01] Chikashi-Kato commented on #75
According to [this slack overflow thread](https://stackoverflow.com/questions/5843495/what-does-m-character-mean-in-vim), `^M` is the representation of carriage return in Vim.
That might mess up the json structure of the request. Very interesting.

[2021-04-09 17:19] marcelo321 commented on #75
I am fixing it by adding `| tr -d $'\r'| ` before slacktee.sh

[2021-04-09 18:20] Chikashi-Kato commented on #75
Sounds great! I'm also adding the logic filtering it up to `slacktee.sh`.

[2021-04-12 19:16] Chikashi-Kato commented on #75
This issue has been fixed by v1.5.1

[2021-04-12 19:16] #75 closed

[2021-04-12 19:29] Pyker commented on #75
Not sure what happened there, but the mentioned PR was never merged. The only difference between 1.5.0 and 1.5.1 is the README

[2021-04-12 20:07] Chikashi-Kato commented on #75
@Pyker Thank you so much for pointing it out! My bad, I forgot to merge the PR ;( Let me fix it now!

[2021-04-12 20:11] Chikashi-Kato commented on #75
@Pyker Thanks again, I just created `v1.5.2`!

[2021-04-12 21:01] Pyker commented on #75
You're very welcome! Thanks for the fix.

[2021-05-31 12:49] ky4k0b opened #79 "Globbing"
I've made a custom version of slacktee for myself and found this problem happening with me with function get_ok_in_response()
you call it in test:
`if [[ $(get_ok_in_response $post_result) != "true" ]]; then`

I'd pass "$post_result" like this cause if slack api changes order of returning json you'll be in trouble

[code]

[2021-06-01 22:48] Chikashi-Kato commented on #79
Thank you for checking the function `get_ok_in_response()`, @ky4k0b . I have tested it on my end and it seems working well.
Here is my test result:
[code]

Seems like your test data doesn't have the opening `"` for `text`. Could you check if that is the actual response of Slack API?

[2021-06-01 23:20] ky4k0b commented on #79
@Chikashi-Kato
check how you pass variables into this function
`if [[ $(get_ok_in_response $post_result) != "true" ]]; then`
now consider this example:
[code]

[2021-06-02 00:03] Chikashi-Kato commented on #79
Ohhh, I see. Now I could reproduce the issue.
Sorry I didn't fully understand your explanation and also, I was using `zsh` instead of `bash`.
I agree with you. We should wrap `$post_result` with `"` for avoiding the unexpected issue caused by the change of the Slack API in future!

[2021-06-02 00:06] Chikashi-Kato commented on #79
@ky4k0b While I'm fixing the bug, could you explain why the function call doesn't work with `$not_ok` without wrapping of `"`? I tried to figure it out by myself but couldn't find the root cause of the behavior. 🤔

[2021-06-02 01:10] ky4k0b commented on #79
it's all about empty strings, strings with spaces and strings with special symbols like *
without wrapping with " it runs like this:
get_ok_in_response $not_ok
vvv
get_ok_in_response {"text":"a b c","ok":true}
vvv
it takes **{"text":"a** as a first argument cause of space delimiter
more explanations and cool examples here: https://stackoverflow.com/questions/10067266/when-to-wrap-quotes-around-a-s

[2021-06-02 01:30] ky4k0b opened #81 "Post to thread"
I needed some stuff to be posted into thread for my logging purposes on production, so I came up with the following:
1) add a new function for parsing response:
[code]
2) in function send_message() add to json
\"thread_ts\": \"$thread_ts\", \
(var $thread_ts can be empty, slack will ignore it)

3) in function send_message() execute get_thread_ts in else part:
[code]
4) in main() add thread_ts for

[2021-06-02 02:34] Chikashi-Kato commented on #79
Ah! Space delimiter!!! That makes a lot of sense! Thank you so much for your explanation and the link to the stack overflow page!!!

[2021-06-02 02:37] Chikashi-Kato commented on #79
Merged the fix into master. Thanks again for your report, @ky4k0b !

[2021-06-02 02:37] #79 closed

[2021-06-02 02:42] Chikashi-Kato commented on #81
Supporting thread is a cool idea and I appreciate your implementation proposal.
Let me consider about the idea!

[2021-06-25 00:52] marcelo321 opened #82 "Color in ouput gives json error"
I was using the public tool nuclei and I was getting slacktee error:

[code]

I guess this happens because of the color, since when removing it slacktee had no problems. Maybe add a condition to remove colorful output so it doesn't give this error? not sure

[2021-06-25 03:54] marcelo321 opened #83 "Breaking rich format when sending +4000 characters"
I'm not sure if this is a bug or not, but when sending over 4k characters, the rich formats breaks and the message it's sent like this:

message1:
`(3)
message

message2:
abcabc
`(3)

so the rich format doesn't work and looks a bit ugly

[2021-06-25 05:53] Chikashi-Kato commented on #82
Thank you for the report, @marcelo321 !
If you don’t mind, could you share all of of the command line options you are using for sending the message?
Also, if it’s possible, please share the sample of the input as well.

[2021-06-25 05:55] Chikashi-Kato commented on #83
This is the known issue and caused by the limitation of the slack API. For now, I don’t have any ideas handling this issue in better ways.
If you know that the input can exceed 4000 characters, I recommend you to use -f option which sends the input as a file.

[2021-06-25 18:46] marcelo321 commented on #82
Here an example:

[code]

Editing it with vim:

[code]

[2021-06-25 18:47] marcelo321 commented on #83
Thanks, yeah I thought it had to do with the limit of the api

[2021-06-25 18:47] #83 closed

[2021-07-01 04:08] Chikashi-Kato commented on #82
Thank you so much for the detail!
I see, it seems to be caused by escape sequences. Handling this case gracefully might not be easy but let me think about it.

[2021-07-03 23:20] marcelo321 opened #84 "Add version flag"
Add the -v flag so we can quickly check for last version!

[2021-07-04 00:16] Chikashi-Kato commented on #84
Yeahhhhhh, love the idea! I wanted to have the way to check the version long time.

[2021-11-16 07:20] posquit0 opened #85 "Send without message"
How can I send a slack message with only attachments? When I tried like the below, slacktee just ignored my command.
Is there any way?

[code]

[2022-04-18 18:55] boydm5 opened #86 "`parseMode` causes invalid json error"
https://github.com/coursehero/slacktee/blob/22e018922760d6a9a9235a69d4c15a8abae31d9a/slacktee.sh#L594

In lines 594, 598, and 602, the leading comma in the `parseMode` string, when combined with the json builder (e.g., lines 318-320), creates json like `... "icon_emoji": ":wrench:", , "link_names": "1"}`. The double comma causes an `invalid_json` error to be returned.

The simplest fix seems to be

[2022-08-19 20:29] marcelo321 commented on #82
Any update regarding this..? some sed magic like this could do the work `echo colorful | sed 's/\x1B\[[0-9;]\{1,\}[A-Za-z]//g'`